{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    {{ super() }}
{#    {{ pagedown.include_pagedown() }}#}
{% endblock %}

{% block page_body %}
    <div class="container">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.code(class="form-control", placeholder="卡券code码"  ) }}
            </div>
            <div class="form-group">
                 {{ form.count(class="form-control", placeholder="数量"  ) }}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>

        </form>
    </div>
{% endblock %}

